body 
{
    margin: 0;
    background-color: #131313;
    font-family: sans-serif;
}

#wrapper 
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header{
/*aligned*/
    top: 0;
    left: 0;
    padding-left: 20px;
    width: 100%;
    line-height: 80px;
    height: 80px;
    position: fixed;
/*color*/
    background-color: aliceblue;
    color: white;
/*font*/
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#contenedor 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
#typeZone {
    position: absolute;
    left: -9999px;
    opacity: 0;
}

#textGoal {
    text-align: center;
    max-width: 700px;
    color:aliceblue;
    font-family: "Courier New";
    font-size: 1.5rem;
}

#typeZone {
    width: 100%;
    max-width: 400px;
}

#state {
    font-weight: bold;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

.pending {
    color: aliceblue;
}